.name {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: white;
	background: #4aaaa5;
	padding: 30px 25px 30px 25px;
	display: inline-block;
	font-size: 32px;
	font-weight: bold;
}

.header {
	background: white;
	border-bottom: medium solid lightgrey;
}

.innerHeader {
	width: 960px;
	margin: 0 auto;
}

.about {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	font-size: 32px;
	padding-bottom: 20px;
	border-bottom: medium solid lightgrey;
	font-weight: bold;
}

.nav-link {
	color: grey;
}

.aboutContainer {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
	padding-bottom: 40px;
}

.innerAboutContainer {
	border: 1px solid lightgrey;
	background: white;
	padding: 20px 20px 20px 20px;
	width: 650px;
	overflow: auto;
	box-sizing: border-box;
	float: left;
	clear: right;
}

.connect {
	box-sizing: border-box;
	border: 1px solid lightgrey;
	background: white;
	padding: 20px 20px 20px 20px;
	width: 270px;
	float: right;
	display: inline-block;

}

.connectHeader {
	text-align: center;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	font-size: 20px;
	padding-bottom: 20px;
	border-bottom: thin solid lightgrey;
	font-weight: bold;

}

.socialImages {
	display: inline-block;
	height: 65px;
	width: 65px;
}

.profilePic {
	float: left;
	margin: 0 20px 0 0;
	height: 200px;
	width: 200px;
}

.pictures {
	text-align: center;
}

nav {
	font-size: 20px;
	padding-top: 35px;
	float: right;
}

nav ul li {
    list-style-type: none;
    display: inline;
}

nav li:not(:first-child):before {
    content: " | ";
}

body {
	background: url("../images/cork-wallet.png");
}

p {
	line-height: 1.5;
	font-size: 20px;
}

a {
	text-decoration: none;
}

form {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.footer {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	color: lightgrey;
	position: absolute;
	text-align: center;
	right: 0;
  	bottom: 0;
  	left: 0;
	background-color: #666666;
  	padding: 45px 45px 45px 45px;
  	border-top: thick solid #4aaaa5;
}

.innerSection {
	width: 960px;
  	margin: 0 auto;
}

.inputFields {
	width: 100%;
	margin: 8px 0;
	padding: 8px 0;
}

input[type=text] {
	color: grey;
	margin-bottom: 15px;
}

input[type=email] {
	color: grey;
	margin-bottom: 15px;
}

input[type=submit] {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background: #4aaaa5;
	height:45px;
	width: 120px;
	color: white;
	border: none;
	font-size: 20px;
}

textarea {
	resize: both;
	height: 150px;
	width: 100%;
	margin-top: 10px;
}

.image1 {
	position: relative;
	float: left;
	margin-bottom: 40px;
}

.image2 {
	position: relative;
	float: right;
	margin-bottom: 40px;
}

.image3 {
	position: relative;
	float: left;
	margin-bottom: 40px;
}

.image4 {
	position: relative;
	float: right;
	margin-bottom: 40px;
}

.image5 {
	position: relative;
	float: left;
}

.portimg {
	height: 150px;
	width: 275px;
}

.boxLabel {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	z-index: 2;
	background: #4aaaa5;
	box-sizing: border-box;
	position: absolute;
	top: 75px;
	color: white;
	height: 60px;
	padding-top: 20px;
	width: 275px;
	text-align: center;
	font-size: 22px;
}